<!doctype html>
<html lang="en" ng-app="toDoApp">
  <head>
    <meta charset="utf-8">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="controllers/ToDoController.js"></script>
    <script src="factories/ToDoFactory.js"></script>
    <title>Todos App</title>
  </head>
  <body>
    <div id='todo' ng-controller='ToDoController as controller'>
      <li ng-repeat='todo in controller.todo'>
      {{ todo.text }}
      {{ todo.completed }}
      <button class='Complete' ng-click='todo.complete();'>Complete</button>
      </li>
      <input id='input' type='text' ng-model='todoText'>
      <button id='Submit' ng-click='controller.addToDo(todoText)'>Submit</button>
      <button id='Delete' ng-click='controller.removeToDo()'>Delete</button>
    </div>
  </body>
</html>
